* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.morePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;

  button {
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    border: none;
    background-color: rgb(186, 252, 181);
    cursor: pointer;
    transition: all 0.5s;
    font-weight: bold;
    &:hover {
      background-color: #2e86ab;
      color: #ffffff;
    }
  }
}

@import "./nav";
@import "./search";
@import "./footer";
@import "./picture";
@import "./about";
